findspark==2.0.1
numpy==1.26.4
pandas==2.2.3
py4j==0.10.9.7
pyarrow==19.0.1
pyspark==3.5.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
setuptools==75.8.0
six==1.17.0
tzdata==2025.1
